.body {
    background-color: lightblue;
    margin: 1%;
}

.h1 {
    margin: 2%;
    padding: 1%;
    border: 1px solid black;
    background-color: dodgerblue;
    text-align: center;
    text-decoration-style: solid;
}
.playerOne {
    float: left;
    margin: 1%;
    padding: 1%;
    border: 1px solid darkblue;
    background-color: blue;
    text-align: center;
}
.playerTwo {
    float: right;
    margin: 1%;
    padding: 1%;
    border: 1px solid darkred;
    background-color: red;
    text-align: center;
}

.cardPick {
    background-color: lightgreen;
    margin: 0%;
    padding: 1%;
    position: fixed;
    left: 50%;
}

.winner {
    margin: 0%;
    padding: 1%;
    border: 1px solid lightblue;
    background-color: lightblue;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    alignment: center;
}

.animation {
    animation: null;
    display: block;
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: hotpink;
    border-radius: 25px;
}
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}